body{
	font: 16px/1.5 finnmain,Arial,Helvetica,sans-serif;
}

.tagline {
  display: block;
}

.post-content.r-margin h1,
.post-content.r-margin h2,
.post-content.r-margin h3,
.post-content.r-margin h4,
.post-content.r-margin h5,
.post-content.r-margin h6 { margin-left: 0; margin-right: 0; }

.post-content.r-margin p,
.post-content.r-margin ul,
.post-content.r-margin ol,
.post-content.r-margin dl,
.post-content.r-margin blockquote,
.post-content.r-margin table { margin-left: 0; margin-right: 0; margin-bottom: 20px; }

.post-content.r-margin iframe { margin-bottom: 30px!important; }

.post-content blockquote { padding: 10px 20px; background-color: #F6F8DA; border-radius: 4px; }
.post-content ul { padding-left: 20px; list-style: disc outside; }

.ftlogo {
	width: 80px;
}

@media screen and (min-width:600px) {
	.ftlogo { width: 130px; }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.expandable-image {
  float: left;
  margin: 10px;
  margin-left: 0;
  transition: max-width .2s;
  max-width: 100%;
}

.expandable-image-small {
    max-width: 300px;
}
