---
layout: default
title: Developers at FINN blogging about tech
---

<div class="mod transparent">
    <div class="inner">
        <div class="bd">
            {% for post in paginator.posts %}
            <article>
                <h1>
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h1>

                <div class="mhl">
                    {% include byline.html date=post.date authors=post.authors %}
                </div>

                {{ post.content }}
            </article>
            {% endfor %}
        </div>
    </div>
</div>

<div class="mod shadow">
    <div class="inner">
        <div class="bd">
        
        </div>
    </div>
</div>
