---
layout: default
title: Developers at FINN blogging about tech
---

<div class="posts">
    {% for post in paginator.posts %}
    <article class="post">
        <h1 class="post-title">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
            </a>
        </h1>

        <div class="post-byline">
            {% include byline.html date=post.date authors=post.authors %}
        </div>

        {{ post.content }}
    </article>
    {% endfor %}
</div>

{% include archive.html offset=1 %}