<time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date_to_string }}</time>
by
{% for name in include.authors %}
{% assign author = site.data.authors[name] %}
{% if author %}<a href="mailto:{{ author.email }}">{{ name }}</a>{% else %}{{ name }}{% endif %}{% if forloop.rindex > 2 %}, {% elsif forloop.rindex == 2 %} og {% endif %}
{% endfor %}
<a href="{{ site.github.repo }}edit/gh-pages/{{ post.path }}{{ include.path }}">
    <span class="edit icon-redigere"></span>
    <span class="caption visuallyhidden">edit</span>
</a>