<footer class="mod transparent">
        <div class="inner pvn">
            <div class="bd">
                <ul class="horizontal-list default1col centerify verticalhr">
                    <li class="r-pvm"><a class="neutral pvm phl inlineblockify" href="https://twitter.com/{{ site.author.twitter }}">{{ site.title }} on Twitter</a></li>
                    <li class="r-pvm"><a class="neutral pvm phl inlineblockify" href="https://www.finn.no/apply-here">Come work with us!</a></li>
                    <li class="r-pvm"><a class="neutral pvm phl inlineblockify" href="https://www.finn.no">FINN.no</a></li>
                </ul>
           </div>
        </div>
    </div>
</footer>