<footer class="mod transparent">
        <div class="inner pvn">
            <div class="bd">
                <ul class="horizontal-list default1col centerify verticalhr">
                    <li class="r-pvm"><a class="neutral pvm phl inlineblockify" href="http://twitter.com/{{ site.author.twitter }}">{{ site.title }} on Twitter</a></li>
                    <li class="r-pvm"><a class="neutral pvm phl inlineblockify" href="http://tech.finn.no">Our developer blog</a></li>
                    <li class="r-pvm"><a class="neutral pvm phl inlineblockify" href="http://hjemmehos.finn.no/no/jobbe_her+/">Come work with us!</a></li>
					<li class="r-pvm"><a class="neutral pvm phl inlineblockify" href="http://finn.no">FINN.no</a></li>
                </ul>
           </div>
        </div>
    </div>
</footer>