<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:app_id" content="414888995331034" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://tech.finn.no{{ page.url }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@finn_tech" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
    <meta name="twitter:description" content="Read the post on our blog." />
    {% endif %}
    {% if page.thumbnail %}
    <meta property="og:image" content="{{ page.thumbnail }}">
    <meta name="twitter:image" content="{{ page.thumbnail }}">
    {% else %}
    <meta property="og:image" content="{{ site.url }}/images/tech_logo.png">
    <meta name="twitter:image" content="{{ site.url }}/images/tech_logo.png">
    {% endif %}
    <meta name="twitter:url" content="http://tech.finn.no{{ page.url }}" />
    <title>
        {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
        {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">
    <link rel="stylesheet" href="//finncdn.no/bb/latest/css/spaden/spaden.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/tech_finn.css">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">
</head>
