<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment-with-locales.min.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-32205740-1', 'auto');
ga('send', 'pageview');
(function(times){
    for (var i = 0; i < times.length; ++i) {
        var el = times[i];
        el.childNodes[0].data = moment(el.getAttribute('datetime')).format('LL');
    }
}(document.getElementsByTagName('time')));
</script>
