<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment-with-locales.min.js"></script>
<script>
(function(times){
    for (var i = 0; i < times.length; ++i) {
        var el = times[i];
        el.childNodes[0].data = moment(el.getAttribute('datetime')).format('LL');
    }
}(document.getElementsByTagName('time')));
</script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
(function(images){
    for (var i = 0; i < images.length; ++i) {
        var el = images[i];
        el.onclick = function() {
            this.classList.toggle('expandable-image-small');
        };
        el.title += " (Click to enlarge)";
    }
}(document.getElementsByClassName('expandable-image')));
</script>
<script src="https://finncdn.no/bb/latest/js/cookie-whitelist.js" async defer></script>