<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        <div class="page">
            <header>
                <div class="display-table mvm dark-links">
                    <div class="display-cell ftlogo">
                        <a href="{{ site.baseurl }}"><img src="/images/tech_logo.png" alt="FINN.no"></a>
                    </div>
                    <div class="display-cell">
                        <h1>
                            <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
                            <small>{{ site.tagline }}</small>
                        </h1>
                    </div>
                </div>
            </header>

            <main class="line">
                <div class="unit r-size2of3">
                    {{ content }}
                </div>
                <div class="unit r-size1of3">
                    {% include archive.html %}
                </div>
            </main>

            {% include footer.html %}

            {% if site.github.environment %}
            {% endif %}
        </div>
    </div>
    {% include analytics.html %}
    {% include scripts.html %}
</body>
</html>
