<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        <div class="page">
            <header class="pvl mvl">
                <h1>
                    <div><a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a></div>
                    <small>{{ site.tagline }}</small>
                </h1>
            </header>

            <main>
                {{ content }}
            </main>

            {% include footer.html %}
            {% include scripts.html %}

            {% if site.github.environment %}
            {% include analytics.html %}
            {% endif %}
        </div>
    </div>
</body>
</html>