---
layout: default
---
<div>
    <div class="inner">
        <div class="bd">
            <article>
                <a href="{{ page.url | relative_url }}"><h1>{{ page.title }}</h1></a>

                <p class="neutral">{% include byline.html date=page.date authors=page.authors path=page.path %}</p>

                <div class="post-content r-margin">
                    {{ content }}
                    Tags:
                    {% for tag in page.tags %}
                    <a href="{{ site.baseurl | relative_url }}tags/">{{ tag }}</a>
                    {% endfor %}
                </div>
            </article>
<!--
            <section class="mhl">
                <h2>{{ site.data.ui.related_posts }}</h2>
                {% for post in site.related_posts limit:3 %}

                <div>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date }}</time>
                </div>

                {% endfor %}
            </section>
-->
            {% if page.comments %}
        </div>
    </div>
</div>
<aside>
    <div class="inner">
        <div class="bd">
            <div id="disqus_thread" class="r-margin"></div>
            <script type="text/javascript">
            var disqus_shortname = 'finntech';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            {% endif %}
        </div>
    </div>
</aside>
